%ul.nav.nav-tabs
  %li
    = link_to "Upload", upload_path, :title => "Uploader"
  %li.active
    = link_to "My Reports", reports_path, :title => "Uploader"


.tab-content
  .tab-pane.active
    %table.table.table-hover
      %tr
        %th
          ID
        %th
          Name
        %th
          Total
        %th
          Uploaded
      - @reports.each do |report|
        %tr
          %td
            = report.id 
          %td
            %a{href: "/details/#{report.id}", :title => "View Details for #{report.name}"}
              = report.name
          %td
            = number_to_currency(report.total, :unit => "$")
          %td
            = report.created_at.strftime("%m/%d/%Y")
      / %tr
      /   %th
      /     Purchaser Name
      /   %th
      /     Item Description 
      /   %th
      /     Item Price
      /   %th
      /     Purchase Count
      /   %th
      /     Merchant Address
      /   %th
      /     Merchant Name
