%table.table.table-hover
  %tr
    %th
      Purchaser Name
    %th
      Item Description 
    %th
      Item Price
    %th
      Purchase Count
    %th
      Merchant Address
    %th
      Merchant Name
  - @entries.each do |entry|
    %tr
      %td
        = entry.customer.name
      %td
        = entry.deal.item_description
      %td
        = number_to_currency(entry.deal.item_price, :unit => "$")
      %td
        = entry.purchase_count
      %td
        = entry.merchant.address
      %td
        = entry.merchant.name || "N/A"