!!! 5
%html{:lang => "en"}
  %head
    %title LS Uploader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
%body

  .container
    %header
      .navbar
        .navbar-inner
          = link_to "LivingSocial upload service", root_url, :title => "Living Social Uploader", :class => "brand"
          %ul.nav.pull-right
            %li.dropdown
              = link_to "#", :title => "Account", :class => "dropdown-toggle", :'data-toggle' => "dropdown" do
                Account
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Sign Out", destroy_user_session_path, :title => "Sign Out", :method => 'delete'
    
      = render :partial => 'layouts/flashes'
    

    = yield
    
    %footer
      
      = link_to "about", "/about", :title => "about"