!!! 5
%html{:lang => "en"}
  %head
    %title Boilerplate
    
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    
    = stylesheet_link_tag    "landing", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    /[if lt IE 9]
      = javascript_include_tag "html5shiv"
    
%body

  .navbar-wrapper

    .container
      .navbar.navbar-inverse
        .navbar-inner

          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Boilerplate

          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                = link_to "About", "/about", :title => "About"
              %li
                %a{:href => "#contact"} Contact

              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li.nav-header Nav header
                  %li
                    %a{:href => "#"} Separated link
                  %li
                    %a{:href => "#"} One more separated link
          
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li
                = link_to "Sign In", new_user_session_path, :title => "Sign In"

  = yield

  :javascript
    !function ($) {
      $(function(){
        $('#the-carousel').carousel();
      })
    }(window.jQuery)